* {
    top: 0;
    left: 0;
}

.page__div {
    padding: 12px;
    min-height: 100vh;
}

.page2__div {
    background-color: black;
    padding: 48px 12px 48px 12px;
    min-height: 100vh;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__div {
    margin: 12px;
}

.logo__image {
    width: 120px;
}

.logo__word {
    font-weight: 900;
    line-height: 36px;
    font-size: xx-large;
}

.description__div {
    margin: 12px;
}

.description {
    font-size: medium;
    color: grey;
}

.upload__div {
    margin: 12px;
    padding: 12px;
    /* background-color: rgb(240, 240, 240); */
    border: dashed 2px rgb(240, 240, 240);
    width: 280px;
}

.upload__button {
    margin-top: 12px;
}

.button {
    width: 120px;
}

.result__title {
    margin: 12px;
    font-weight: 800;
    font-size: xx-large;
    color: white;
}

.result_image {
    margin: 0 0 12px 0;
}

.copyright {
    font-size: small;
    color: grey;
    margin: 60px 0 24px 0;
}